  <section class="carousel my-4" style="background-color: rgba(0, 0, 0, 0);">
    <ol class="viewport" tabindex="1">
      <!------------ display intro card ------------>
      <% if (locals.data) { %>
        <li class="slide">
          <div class="snapper" style="background-image: url('2.jpg')">
            <img src="/images/astronaut.png" width="200" height="150" class="mb-3" style="border-radius: 1rem;">
            <h2 class="text-white main-text mb-3">There are currently <%= data.peopleNo %> astronauts aboard the ISS!</h2>
            <h2 class="text-white main-text mb-3">Scroll right to learn all about them!</h2>
          </div>
        </li>
      <% } %>

      <!------------ display astro cards ------------>
      <% if (locals.profiles) { %>
        <% locals.profiles.forEach((person) => { %>
          <% console.log("--------------" + person.name) %>
          <li class="slide">
            <div class="snapper" style="background-image: url('2.jpg')">
              <img href="<%= person.image.image_url %>">
              <h2 class="text-white"><%= person.name %></h2>
              <p class="text-white"><em><%= person.agency.name %></em></p>
              <p class="text-white mb-0">Age: <%= person.age %></p>
              <p class="text-white mb-0">Nationality: <%= person.nationality[0].name %></p>
              <p class="text-white mb-0">No. of Flights: <%= person.flights_count %></p>
              <p class="text-white">No. of spacewalks: <%= person.spacewalks_count %></p>
              <p class="text-white"><%= person.bio %></p>
            </div>
          </li>
        <% }) %>
      <% } %>
    </ol>
  </section>
</div>
